body {
    background-color: lightgreen;
}

section nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
}

nav a{
    display: block;
    color: white;
    padding: 14px 16px;
}

nav a:hover {
    background-color: #363232;
}

h1 {
    text-decoration: underline;
}

